.new-post{
	width: fit-content;
	margin: 0 auto;
	background: rgba(245, 242, 242, 0.4509803922);
	border: 1px solid #EEE;
	background-color: #eef5ff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 20px;
	h2 {
    text-align: center;
    font-size: 30px;
    position: relative;
    font-weight: 600;
    width: 100%;
    margin-bottom: 40px;
		svg{
			margin: 0 auto;
		}
	}
	form{
		display: flex;
		flex-wrap: wrap;
		.img{
			width: 390px;
			height: fit-content;
			height: 250px;
			.add-area {
				overflow: hidden;
				// border: 1px solid #ccc;
				padding: 20px;
				background-color: #FFF;
				height: 100%;
				text-align: center;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 8px;
				position: relative;
				flex-direction: column;
				gap: 10px;
				cursor: pointer;
				color: #222;
				// background-image: url("https://removal.ai/wp-content/uploads/2021/02/no-img.png");
				// background-size: cover;
				// background-position: center;
				// background-repeat: no-repeat;
				#previewImg{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 3;
				}
				p{
					margin: 0;
					color: #091651;
					font-weight: 500;
					position: relative;
					font-size: 15px;
				}
				input{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					opacity: 0;
					z-index: 5;
					cursor: pointer;
					height: 100%;
				}
			}
			.drop-zone {
				max-width: 200px;
				height: 200px;
				padding: 25px;
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				font-family: "Quicksand", sans-serif;
				font-weight: 500;
				font-size: 20px;
				cursor: pointer;
				color: #cccccc;
				border: 4px dashed #009578;
				border-radius: 10px;
				.drop-zone--over {
					border-style: solid;
				}
				.drop-zone__input {
					display: none;
				}
				.drop-zone__thumb {
					width: 100%;
					height: 100%;
					border-radius: 10px;
					overflow: hidden;
					background-color: #cccccc;
					background-size: cover;
					position: relative;
				}
				.drop-zone__thumb::after {
					content: attr(data-label);
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					padding: 5px 0;
					color: #ffffff;
					background: rgba(0, 0, 0, 0.75);
					font-size: 14px;
					text-align: center;
				}
			}
		}
		.details{
			display: flex;
			width: calc(100% - 390px);
			flex-wrap: wrap;
			padding-left: 15px;
			height: fit-content;
			.sec{
				width: 100%;
				position: relative;
				p{
					position: absolute;
					right: 4px;
					top: 4px;
					width: fit-content;
					font-weight: 600;
					font-size: 12px;
					color: #091651;
					margin-bottom: 5px;
				}
			}
			label{
				font-weight: 500;
				font-size: 14px;
				color: #091651;
				width: 100%;
				margin-bottom: 5px;
			}
			p{
				width: 100%;
				font-size: 13px;
				user-select: none;
				font-weight: 500;
				margin: 0;
				a{
					color: #5171ff;
					cursor: pointer;
					text-decoration: none;
				}
			}
			input {
				width: 100%;
				padding: 10px;
				font-size: 14px;
				height: 40px;
				border: 1px solid #ccc;
				outline: none;
				border-radius: 5px;
				margin-bottom: 10px;
			}
			textarea{
				width: 100%;
				padding: 10px;
				font-size: 14px;
				border: 1px solid #ccc;
				outline: none;
				height: 400px;
				border-radius: 5px;
				margin-bottom: 10px;
				// resize: none;
			}
			.btn{
				text-decoration: none;
				transition: all 0.2s;
				background-color: #5171ff;
				color: #FFF;
				border-radius: 5px;
				width: 120px;
				font-size: 14px;
				font-weight: 600;
				padding: 10px 0;
				margin: 0 auto;
				margin-top: 35px;
			}
			.topics{
				display: flex;
				grid-gap: 5px;
				flex-wrap: wrap;
				margin-top: 5px;
				width: 100%;
				.topic{
					width: fit-content;
					display: flex;
					position: relative;
					label{
						font-size: 13px;
						font-weight: 500;
						transition: all .2s;
						background: #FFF;
						overflow: hidden;
						position: relative;
						padding: 6px 15px;
						border-radius: 30px;
						border: 1px solid #5171ff;
						z-index: 2;
					}
					input:hover + label{
						color: #5171ff;
					}
					input:checked + label{
						background-color: #5171ff;
						color: #FFF;
					}
					input{
						position: absolute;
						width: 100%;
						cursor: pointer;
						top: 0;
						height: 100%;
						opacity: 0;
						left: 0;
						z-index: 5;
						margin: 0;
					}
				}
			}
		}
		.errorsList{
			margin-top: 20px;
		}
	}
}