@media (max-width: 1023px){
  header nav{
    .menu{
      display: block !important;
    }
    .sec{
      display: none;
      position: absolute;
      width: 320px;
      border: 1px solid rgb(204 204 204 / 52%);
      padding: 15px;
      border-radius: 8px;
      background-color: #eef5ff;
      right: 0;
      top: 60px;
      flex-wrap: wrap;
      z-index: 60;
      box-shadow: 0 0 3px 1px #5171ff3d;
      ul{
        width: 100%;
        order: 2;
        display: block;
        float: unset;
        margin: 0 !important;
        li{
          &:not(:last-of-type){
            margin-bottom: 5px;
          }
          .search_bar {
            width: 100% !important;
          }
          a{
            justify-content: center;
          }
        }
      }
      .btns{
        order: 1;
        width: 100%;
        float: unset;
        margin-bottom: 10px;
        grid-gap: 5px;
        display: flex;
        flex-wrap: wrap;
        .lk{
          width: 100%;
          justify-content: center;
        }
        .dr{
          order: 2;
          width: 100%;
        }
        .profile_down{
          order: 1;
          margin: 0 auto;
          .dropdown-menu{
            left: 50%;
            right: unset;
            transform: translateX(-50%);
            top: 48px;
          }
        }
      }
    }
  }
  .home{
    main{
      flex-wrap: wrap;
      grid-gap: 15px;
      .main-article,.trending{
        width: 100% !important;
        margin: 0;
      }
      .main-article{
        height: 370px;
        .article-content {
          bottom: 0;
          left: 0;
          z-index: 1;
          width: 100%;
          padding: 15px;
          .title-ps {
            font-size: 20px;
          }
        } 
        .img {
          height: 370px;
        }
      }
    }
    .s_sc{
      flex-wrap: wrap;
      grid-gap: 15px;
      .latest-posts,.explore_topics{
        width: 100% !important;
        margin: 0;
        .posts{
          padding: 0;
          .post {
            flex-wrap: wrap;
            .img{
              width: 100% !important;
              margin: 0 0 15px 0 !important;
            }
            .post-content{
              width: 100%;
            }
          }
        }
      }
    }
  }
  .post .post_content{
    width: 100%;
    h2 {
      font-size: 20px;
    }
    .img img {
      height: 300px;
    }
    .tags{
      flex-wrap: wrap;
    }
  }
  .trending,.explore_topics{
    width: 100%;
  }
  .new-post form{
    .img{
      width: 100%;
      margin-bottom: 10px;
    }
    .details{
      width: 100%;
      padding-left: 0;
    }
  }
  .profile{
    .infos{
      width: 100%;
      order: 1;
    }
    .posts{
      width: 100%;
      order: 2;
      padding: 15px 15px 0 0;
      width: 100%;
      .post{
        flex-wrap: wrap;
        h2 {
          font-size: 20px;
        }
        .img {
          width: 100%;
          height: 170px;
          margin-bottom: 15px;
          margin-right: 0;
          img {
            width: 100%;
          }
        }
        .tags{
          flex-wrap: wrap;
          a{
            margin-bottom: 0;
          }
        }
        .post-content{
          width: 100% !important;
        }
        .tags{
          flex-wrap: wrap;
          a{
            margin: 0;
          }
        }
      }
      .title{
        display: none;
      }
    }
  }
  .settings form{
    width: 100% !important;
  }
  .auth{
    width: 100%;
    h2{
      font-size: 25px;
    }
    form{
      width: 100%;
    }
    .done_msg{
      width: 100%;
      svg{
        display: none;
      }
    }
  } 
}