.settings{
  .profile-form {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 570px;
    margin: 0 auto;
    border: 1px solid #EEE;
    background-color: #eef5ff;
    padding: 25px;
    border-radius: 5px;
  }
  .profile-header {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      flex-wrap: wrap;
      .error{
        text-align: center;
        width: 100%;
      }
  }
  .profile-avatar {
    color: #fff;
    font-weight: bold;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 120px;
    border-radius: 50%;
    height: 120px;
    &:after{
      content: "";
      position: absolute;
      background: rgb(81 113 255 / 58%);
      z-index: 30;
      width: 100%;
      height: 100%;
      top: 0;
    }
    input{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 60;
      cursor: pointer;
    }
    svg{
      position: absolute;
      width: 23px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      fill: #FFF;
      z-index: 50;
    }
  }
  .profile-info {
      margin-left: 10px;
  }
  .profile-info h2 {
      margin: 0;
      font-size: 18px;
  }
  .profile-info p {
      margin: 0;
      color: #888;
  }
  .form-group {
      margin-bottom: 5px;
  }
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #091651;
    font-size: 14px;
    font-weight: 500;
  }
  .form-group input, textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 13px;
    height: 40px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  textarea{
    height: 130px;
    resize: none;
  }
  .save-btn {
    background-color: #5171ff;
    color: #fff;
    padding: 10px 60px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    font-size: 15px;
    margin-top: 25px;
  }
}

.errorsList{
  width: 100%;
  padding: 0 17px;
  margin-bottom: 10px;
  li{
    list-style: disc;
    font-size: 14px;
    color: #F00;
    &:not(:last-of-type){
      margin-bottom: 3px;
    }
  }
}